<%= turbo_frame_tag "upload_status" do %>
  <div id="upload-status"
       data-upload-target="info"
       data-upload-file-missing-value='<%= t "uploads.message.file_missing" %>'
       data-upload-in-progress-value='<%= t "uploads.message.in_progress" %>'
       data-upload-failed-value='<%= t "uploads.message.failed" %>'
       data-upload-error-value='<%= t "uploads.message.error" %>'
  >
    <div class="bg-slate-100 border border-blue-400 text-blue-700 px-4 py-3 my-5 rounded relative" role="alert">
      <p class="font-bold" data-upload-target="title">
        <%= title %>
      </p>
      <span class="block sm:inline" data-upload-target="message">
      <%= message %>
    </span>
    </div>
  </div>
<% end %>