<% content_for :title, "Upload Result" %>

<turbo-frame id="upload" class="md:w-2/3 w-full mx-auto" data-controller="upload">
  <%= link_to "New Upload", new_upload_path, class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  <div id="upload-status" data-upload-target="progress">
    <div class="bg-teal-50 border border-gray-400 text-green-500 px-4 py-3 my-5 rounded relative" role="alert">
      <p class="font-bold">
        <%= "Upload results for #{@upload.file.original_filename}" %>
      </p>
      <span class="block sm:inline">
      <%= "The file was processed successfully." %>
    </span>
    </div>
  </div>

  <table class="border-collapse table-auto w-full text-sm">
    <thead>
    <tr>
      <th class="py-3 border-b dark:border-slate-600 font-medium">Name</th>
      <th class="py-3 border-b dark:border-slate-600 font-medium">Password</th>
      <th class="py-3 border-b dark:border-slate-600 font-medium">Result</th>
    </tr>
    </thead>
    <tbody>
      <% @upload.results.each do |row|%>
          <tr>
            <td class="border-b dark:border-slate-600 font-medium">
              <%= row['name'] %>
            </td>
            <td class="border-b dark:border-slate-600 font-medium">
              <%= row['password'] %>
            </td>
            <td class="border-b dark:border-slate-600 font-medium">
              <%= row['result'] %>
            </td>
          </tr>

      <% end %>
    </tbody>
  </table>
</turbo-frame>
