<% content_for :title, "Upload Result" %>

  <%= link_to "New Upload", new_upload_path, class: "ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
<turbo-frame id="upload" class="md:w-2/3 w-full mx-auto" data-controller="upload">
  <div id="upload-status" data-upload-target="progress">
    <div class="bg-green-50 border border-gray-400 text-green-500 px-4 py-3 my-5 rounded relative" role="alert">
      <p class="font-bold">
        <%= "Upload results for #{@upload.file.original_filename}" %>
      </p>
      <span class="block sm:inline">
      <%= "The file was processed successfully." %>
    </span>
    </div>
  </div>

  <table class="w-full mb-0 align-top border-collapse dark:border-white/40 text-slate-500">
    <thead class="align-bottom">
    <tr>
      <th class="px-6 py-3">Name</th>
      <th class="px-6 py-3 pl-2">Password</th>
      <th class="px-6 py-3 pl-2">Result</th>
    </tr>
    </thead>
    <tbody>
      <% @upload.results.each do |row|%>
          <tr>
            <td>
              <%= row['name'] %>
            </td>
            <td>
              <%= row['password'] %>
            </td>
            <td>
              <%= row['result'] %>
            </td>
          </tr>

      <% end %>
    </tbody>
  </table>
</turbo-frame>
